<h1 class="title">Movie Catalog Deluxe</h1>


<div class="headers">
<h1>The Ultimate List of Movies</h1>

<h3><a href="/movies?order=year">Order by YEAR</a></h3>
<h3><a href="/movies?order=rating">Order by RATING</a></h3>
<h3><a href="/movies">Order by TITLE</a></h3>
<h3><a href="/actors">List of Actors</a></h3>


<h3>Search Movies by Title:</h3>
<form action="/movies" method="post">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

</div>

<table>
  <tr>
    <th>Movie</th>
    <th>Year Released</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Studio</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
      <td><a href="/movies/<%= movie["id"] %>"><%= movie['title'] %></a></td>
      <td><%= movie['year'] %></td>
      <td><%= movie['rating'] %></td>
      <td><%= movie['genre'] %></td>
      <td><%= movie['studio'] %></td>
  </tr>

<% end %>

</table>
